# email=npmuser@company.com
# always-auth=true
# strict-ssl=false
# _auth=bnBtdXNlcjpucG11c2Vy
# registry=http://dev-testdevops.ddns.net:8081/repository/npm-group/



# echo -n 'npmuser:npmuser' | openssl base64 # bnBtdXNlcjpucG11c2Vy